<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/headIndex :: head">
</head>
<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>
<div id="page" class="line page design4">
    <div sec:authorize="hasRole('ROLE_PRESCRIPTEUR')" th:replace="fragments/menuPrescripteur :: menuPrescripteur">
    </div>
    <div class="line page txtright" style="display: none">
				<span class="numero_tel">
					02 41 87 33 53 <span class="h24"><sup>24H</sup>&frasl;<sub>24</sub></span>
				</span>
    </div>

    <div class="line"></div>

    <div id="main" role="main" class="line  pll prl pbl design4">
        <div class='pageweb'><h2>Apn&eacute;e du sommeil</h2>
            <p>Durant le sommeil, les muscles de la langue et du voile du palais maintiennent les voies a&eacute;riennes
                ouvertes. Dans certains cas, les voies a&eacute;riennes se r&eacute;tr&eacute;cissent cr&eacute;ant
                ainsi des ph&eacute;nom&egrave;nes d&rsquo;apn&eacute;e ou d&rsquo;hypopn&eacute;e (arr&ecirc;ts ou
                diminution de la respiration). Le Syndrome d&rsquo;Apn&eacute;e du Sommeil (SAS) est une affection, d&eacute;finie
                par un nombre excessif d&rsquo;apn&eacute;es ou d&rsquo;hypopn&eacute;es au cours du sommeil, pendant
                plus de 10 secondes et se r&eacute;p&eacute;tant plus de 10 fois par heure de sommeil. Ces pauses
                respiratoires s&rsquo;associent tr&egrave;s fr&eacute;quemment &agrave; une hypersomnolence diurne (p&eacute;riodes
                de grande fatigue voire d&rsquo;endormissement anormalement fr&eacute;quente durant la journ&eacute;e).&nbsp;Ces
                ph&eacute;nom&egrave;nes d&rsquo;apn&eacute;es et d&rsquo;hypopn&eacute;es sont associ&eacute;s, entre
                autre, &agrave; des variations du taux d&rsquo;oxyg&egrave;ne dans le sang (saturation art&eacute;rielle
                en oxyg&egrave;ne ou SaO2), de la fr&eacute;quence cardiaque et de la tension art&eacute;rielle.</p>

            <p>La PPC est le traitement de r&eacute;f&eacute;rence des syndromes d&rsquo;apn&eacute;es obstructives du
                sommeil devan&ccedil;ant les orth&egrave;ses d&rsquo;avanc&eacute;e mandibulaires (OAM) et la
                chirurgie.</p>

            <p>La PPC permet l&rsquo;ouverture des voies a&eacute;riennes pendant le sommeil, limitant ainsi les apn&eacute;es.</p>

            <p>Nous disposons d&rsquo;une gamme compl&egrave;te de produits pour r&eacute;pondre &agrave; vos besoins et
                toute notre &eacute;quipe se tient &agrave; votre disposition 24h/24 pour vous assister et r&eacute;pondre
                &agrave; vos questions.</p>

            <p>&nbsp;</p>
        </div>
    </div>


    <div class="footer" th:replace="fragments/footer :: footer">
    </div>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46937887-1', 'air-sante.fr');
    ga('send', 'pageview');

</script>

</body>
</html>