<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/headIndex :: head">
</head>
<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>
<div id="page" class="line page design4">
    <div sec:authorize="hasRole('ROLE_PRESCRIPTEUR')" th:replace="fragments/menuPrescripteur :: menuPrescripteur">
    </div>
    <div class="line page txtright" style="display: none">
				<span class="numero_tel">
					02 41 87 33 53 <span class="h24"><sup>24H</sup>&frasl;<sub>24</sub></span>
				</span>
    </div>

    <div class="line"></div>

    <div id="main" role="main" class="line  pll prl pbl design4">
        <div class='pageweb'><h3 style="text-align:justify">Conseils pour un sommeil de qualit&eacute;</h3>

            <p style="text-align:justify">Nous passons un tiers de notre existence &agrave; dormir ; il ne s&rsquo;agit
                pas d&rsquo;un &eacute;v&egrave;nement passif, d&rsquo;un simple &eacute;tat de torpeur mais au
                contraire d&rsquo;un ph&eacute;nom&egrave;ne biologique actif, structur&eacute; et organis&eacute;. (4
                &agrave; 5 cycles de sommeil d&rsquo;1H30 &agrave; 2Heures chacun, eux-m&ecirc;mes divis&eacute;s en 5
                stades)<br/>
                Indispensable &agrave; notre r&eacute;cup&eacute;ration physique et psychique, le sommeil joue &eacute;galement
                un r&ocirc;le important dans le d&eacute;veloppement c&eacute;r&eacute;bral, l&rsquo;assimilation (m&eacute;morisation
                d&eacute;finitive de nouvelles informations et programmation des comportements afin de nous adapter
                &agrave; l&rsquo;environnement)<br/>
                Tout &eacute;v&egrave;nement responsable d&rsquo;une modification de la structure de notre sommeil entra&icirc;ne
                un manque d&rsquo;&eacute;nergie le matin et dans la journ&eacute;e, une fatigue , une somnolence diurne
                , une diminution des capacit&eacute;s intellectuelles, une modification de l&rsquo;humeur&hellip;...</p>

            <p style="text-align:justify">Voici donc quelques conseils pour am&eacute;liorer la qualit&eacute; de votre
                sommeil :</p>

            <p><strong><em>La chambre :</em></strong></p>

            <ul>
                <li>Respectez au maximum un rythme de veille sommeil r&eacute;gulier .Votre organisme s&rsquo;adaptera
                    si vous vous couchez toujours &agrave; la m&ecirc;me heure.
                </li>
                <li>Somnif&egrave;res et tranquillisants peuvent alt&eacute;rer la qualit&eacute; de votre sommeil ; ne
                    les prenez que sur prescription de votre m&eacute;decin.
                </li>
                <li>A&eacute;rez bien votre chambre : il est primordial de renouveler l&rsquo;air ambiant avant de se
                    coucher.
                </li>
                <li>Changez de literie si n&eacute;cessaire : optez pour un matelas ferme et un oreiller ergonomique
                </li>
                <li>Ne surchauffez pas votre chambre : temp&eacute;rature de 16&deg; convenable, &eacute;viter un air
                    trop sec pouvant irriter les voies respiratoires (utilisation de saturateur pour humidifier l&rsquo;air
                    ambiant)
                </li>
            </ul>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><strong>L&rsquo;alimentation du soir :</strong></p>

            <ul>
                <li>Evitez les aliments difficiles &agrave; dig&eacute;rer et les mets &eacute;pic&eacute;s.</li>
                <li>Proscrivez caf&eacute;, th&eacute;, coca et boissons alcoolis&eacute;es.</li>
                <li>Privil&eacute;giez les d&icirc;ners &agrave; base de glucides lents (p&acirc;tes, riz).</li>
                <li>Aidez votre endormissement et calmez votre nervosit&eacute; en buvant une infusion de plantes une
                    heure avant le coucher.
                </li>
            </ul>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><strong>Le contexte favorable</strong></p>

            <ul>
                <li>Prenez au minimum un quart d&rsquo;heure avant de vous coucher pour vous relaxer et chasser de votre
                    cerveau toutes les images n&eacute;gatives de la journ&eacute;e : lisez, respirez, &eacute;coutez
                    une musique apaisante, visualisez des images positives.
                </li>
                <li>Prenez le train du sommeil en marche d&egrave;s qu&rsquo;il arrive sinon vous &ecirc;tes condamn&eacute;
                    &agrave; attendre le prochain cycle de sommeil
                </li>
                <li>Ce qu&rsquo;il ne faut pas faire :</li>
                <li>Regarder la t&eacute;l&eacute;vision avant de se coucher : le d&eacute;fil&eacute; impos&eacute; des
                    images entretient l&rsquo;activit&eacute; du cerveau et ne favorise pas l&rsquo;endormissement
                </li>
                <li>Jeux vid&eacute;o et ordinateur</li>
                <li>Prendre un bain chaud : au contraire, l&rsquo;organisme se refroidit naturellement lorsque le
                    sommeil s&rsquo;en empare, il faut donc aller dans son sens.
                </li>
                <li>S&eacute;ance de sport intensif avant le coucher</li>
                <li>Discussions anim&eacute;es</li>
            </ul>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><strong>Conseils hygi&eacute;no- di&eacute;t&eacute;tiques</strong></p>

            <ul>
                <li>La surcharge pond&eacute;rale est un &eacute;l&eacute;ment responsable en partie du syndrome d&rsquo;apn&eacute;es
                    du sommeil ; il convient donc de contr&ocirc;ler votre poids voire d&rsquo;en perdre.
                </li>
                <li>Essayez de changer votre mode d&rsquo;alimentation en privil&eacute;giant les aliments complets,
                    &eacute;vitez les mati&egrave;res grasses et les sucreries, privil&eacute;giez les fruits et les l&eacute;gumes.
                    N&rsquo;h&eacute;sitez pas &agrave; vous faire aider par un professionnel (nutritionniste - di&eacute;t&eacute;ticienne)
                    qui analysera avec vous vos habitudes alimentaires et vous conseillera sur le r&eacute;gime &agrave;
                    adopter.
                </li>
                <li>Faites du sport r&eacute;guli&egrave;rement (marche- natation-) Privil&eacute;giez la mont&eacute;e
                    d&rsquo;escalier plut&ocirc;t que l&rsquo;ascenseur par exemple
                </li>
            </ul>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><strong>MON APPAREIL DE VENTILATION (PPC-VNI) QUELQUES QUESTIONS &ndash;REPONSES
                :</strong></p>

            <ul>
                <li>Dois-je utiliser ma machine toutes les nuits ? votre appareil fonctionne comme une attelle
                    pneumatique ; tout pendant que vous l&rsquo;utilisez, elle ouvre la voie vous permettant de respirer
                    librement. Votre appareil traite votre syndrome d&rsquo;apn&eacute;es du sommeil mais ne le gu&eacute;rit
                    pas de la m&ecirc;me fa&ccedil;on que des lunettes permettent de bien voir &agrave; condition de les
                    mettre&hellip;
                </li>
                <li>Je dois &ecirc;tre hospitalis&eacute;(e) prochainement ; dois-je emporter mon appareil ? oui et en
                    cas d&rsquo;intervention pr&eacute;vue, vous devez m&ecirc;me le signaler &agrave; l&rsquo;anesth&eacute;siste
                    qui va vous endormir car d&egrave;s la salle de r&eacute;veil votre appareil vous sera pos&eacute;
                </li>
                <li>Je dois partir pour un s&eacute;jour &agrave; l&rsquo;&eacute;tranger ; que dois-je pr&eacute;voir ?
                    : demandez &agrave; Air Sant&eacute; un document de sortie du territoire &agrave; pr&eacute;senter
                    aux douanes. Pr&eacute;voyez toujours une rallonge &eacute;lectrique et &eacute;ventuellement un
                    adaptateur (disponible au rayon &eacute;lectricit&eacute; des magasins de bricolage) pour certains
                    pays. Si vous devez prendre l&rsquo;avion, gardez l&rsquo;appareil avec vous en cabine plut&ocirc;t
                    qu&rsquo;en soute.
                </li>
                <li>Je ressens une fuite d&rsquo;air sur le masque ou &agrave; la connexion entre le masque et le tuyau
                    : cette fuite est normale et n&eacute;cessaire ; elle permet un rin&ccedil;age de l&rsquo;air dans
                    le masque et vous &eacute;vite de r&eacute;inhaler le gaz carbonique que vous expirez. Ne la bouchez
                    surtout pas !!!
                </li>
            </ul>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify">Cette liste n&rsquo;est qu&rsquo;un aper&ccedil;u de toutes les questions que
                vous pouvez vous poser par rapport &agrave; votre traitement. N&rsquo;h&eacute;sitez pas &agrave;
                solliciter l&rsquo;&eacute;quipe d&rsquo;Air Sant&eacute; ; nous trouverons avec vous les solutions
                &agrave; vos probl&egrave;mes.</p>

            <p style="text-align:justify">&nbsp;</p>
        </div>
    </div>


    <div class="footer" th:replace="fragments/footer :: footer">
    </div>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46937887-1', 'air-sante.fr');
    ga('send', 'pageview');

</script>

</body>
</html>