<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<h2 th:text="${patient.personneById.nom}">Nom : </h2>
	<h2 th:text="${patient.personneById.prenom}">Nom : </h2>
	<h2 th:text="${patient.personneById.dateNaissance}">Nom : </h2>
	<h2 th:text="${patient.personneById.telDomicile}">Nom : </h2>
	<h2 th:text="${patient.statutDossier}">Nom : </h2>

	

</body>
</html>