<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head">
</head>
<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>

<div id="page" class="line page design4">

    <div sec:authorize="hasRole('ROLE_PRESCRIPTEUR')" th:replace="fragments/menuPrescripteur :: menuPrescripteur">
    </div>
    <div sec:authorize="hasRole('ROLE_USER')" th:replace="fragments/menuUtilisateur :: menuUtilisateur">
    </div>

    <div id="main" role="main" class="line  pll prl pbl design4">





    </div>


    <div class="footer" th:replace="fragments/footer :: footer">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#listPatients').DataTable();
    });
</script>
</body>
</html>