<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>
<div class="container">

    <h1>Liste de vos patients</h1>

    <p>Vous avez <span th:text="${#lists.size(listPatientsPrescripteur)}"> patients actifs.</span></p>

    <div style="cursor: pointer;" id="patient-grid" class="grid-view">

        <table class="items" id="listPatients">
            <thead>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Ville</td>
                <td>Numéro sécurité sociale</td>
                <td>Date d'installation</td>
                <td>Dernière intervention</td>
                <td>Prochaine intervention</td>
                <td>Statut du dossier</td>
                <td>Observance moyenne</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient, status : ${listPatientsPrescripteur}"
                th:class="${status.odd} ? 'odd' : 'even'">
                <td th:text="${patient.nom}">Nom</td>
                <td th:text="${patient.prenom}">Prénom</td>
                <td th:text="${patient.ville}">Ville</td>
                <td th:text="${patient.numeroSecu}">Numéro Sécu</td>
                <td th:text="${patient.dateInstallation != null} ? ${#dates.format(patient.dateInstallation, 'dd MMMMM yyyy')}">Date d'installation</td>
                <td th:text="${patient.dateDerniereInter != null} ? ${#dates.format(patient.dateDerniereInter, 'dd MMMMM yyyy')}">Date d'installation</td>
                <td th:text="${patient.dateProchaineInter != null} ? ${#dates.format(patient.dateProchaineInter, 'dd MMMMM yyyy - HH:mm')}">Date d'installation</td>
                <td th:text="${patient.statutDossier}">Statut du dossier</td>
                <td th:text="${patient.moyenneMois}">Moyenne en mois</td>

            </tr>
            </tbody>
        </table>

    </div>


</div>


<div class="footer" th:replace="fragments/footer :: footer">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listPatients').DataTable();
    });
</script>
</body>
</html>