<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head">
</head>
<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>
<div id="page" class="line page design4">

    <div sec:authorize="hasRole('ROLE_PRESCRIPTEUR')" th:replace="fragments/menuPrescripteur :: menuPrescripteur">
    </div>

    <div id="main" role="main" class="line  pll prl pbl design4">
        <h3>Vous avez <span th:text="${#lists.size(listPatientsPrescripteur)}"> </span> <span
                th:text="${typeCategorie}"></span></h3>

        <div style="cursor: pointer;" id="patient-grid" class="grid-view">

            <table class="items" id="listPatients">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Ville</td>
                    <td>Numéro sécurité sociale</td>
                    <td>Date d'installation</td>
                    <td>Dernière intervention</td>
                    <td>Prochaine intervention</td>
                    <td>Statut du dossier</td>
                    <td>Observance moyenne</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient, status : ${listPatientsPrescripteur}"
                    th:class="${status.odd} ? 'odd' : 'even'"
                    th:onclick="'window.location.href=\'/prescripteur/patient/' + ${patient.dataId} + '\''">
                        <td th:text="${patient.nom}">Nom</td>
                        <td th:text="${patient.prenom}">Prénom</td>
                        <td th:text="${patient.ville}">Ville</td>
                        <td th:text="${patient.numeroSecu}">Numéro Sécu</td>
                        <td th:text="${patient.dateInstallation != null} ? ${#dates.format(patient.dateInstallation, 'dd MMMMM yyyy')}"></td>
                        <td th:text="${patient.dateDerniereInter != null} ? ${#dates.format(patient.dateDerniereInter, 'dd MMMMM yyyy')}"></td>
                        <td th:text="${patient.dateProchaineInter != null} ? ${#dates.format(patient.dateProchaineInter, 'dd MMMMM yyyy')}"></td>
                        <td th:text="${patient.statutDossier}"></td>
                        <td th:text="${patient.moyenneMois}"></td>
                </tr>

                </tbody>
            </table>

        </div>


    </div>


    <div class="footer" th:replace="fragments/footer :: footer">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#listPatients').DataTable();
    });
</script>


</body>
</html>