<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">YPE html>
<head th:fragment="head">
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <title>Air Santé</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon-air-sante.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knacss.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}" media="all">

    <script th:src="@{/js/jquery-min.js}"></script>
    <script th:src="@{/js/jquery.sequence-min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery.flot.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flot.time.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flot.pie.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
</head>
</html>