<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">YPE html>

<div id="menu_prescripteur" th:fragment="menuUtilisateur">
    <div style="float: right; width: 10%;">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Se déconnecter"/>
        </form>


    </div>
    <div class="grid" style="width: 90%">
        <ul class="grid4" id="yw4">
            <li class="menu_prescripteur_accueil active inbl"><a href="/utilisateur/index">Espace Ventury</a></li>
            <li class="inbl"><a href="/utilisateur/listePatients">Patients</a></li>
        </ul>
    </div>
</div>
</html>