<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">YPE html>
<body>
<div th:fragment="navbar">
<nav id="navigation1" role="navigation" class="grid bandeau-noir design4">
    <ul class="grid5 nav-main" id="navigation">
        <li class="active inbl"><a href="/index.php?r=site/index">Air Santé</a></li>
        <li class="inbl"><a href="/index.php?r=site/pageweb&amp;id=8">Nos prestations</a>
            <ul class="nav-sub design4">
                <li class="inbl"><a href="">Apnée du sommeil</a></li>
                <li class="inbl"><a href="">Ventilation</a></li>
                <li class="inbl"><a href="">Oxygénothérapie</a></li>
                <li class="inbl"><a href="">Aérosolthérapie</a></li>
                <li class="inbl"><a href="">Conseils</a></li>
            </ul>
        </li>
        <li class="inbl"><a href="">Nos agences</a></li>
        <li class="inbl"><a href="">Contact</a></li>
        <li class="active inbl"><a href="">Documents</a>
            <ul class="nav-sub design4">
                <li class="inbl"><a href="">Décret PPC</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>

</body>
</html>