<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">YPE html>
<body>
<div th:fragment="navbar">
<nav id="navigation1" role="navigation" class="grid bandeau-noir design4">
    <ul class="grid5 nav-main" id="navigation">
        <li class="active inbl"><a href="/index">Air Santé</a></li>
        <li class="inbl"><a href="/nosprestations">Nos prestations</a>
            <ul class="nav-sub design4">
                <li class="inbl"><a href="/nosprestations/apnee">Apnée du sommeil</a></li>
                <li class="inbl"><a href="/nosprestations/ventilation">Ventilation</a></li>
                <li class="inbl"><a href="/nosprestations/oxygene">Oxygénothérapie</a></li>
                <li class="inbl"><a href="/nosprestations/aerosol">Aérosolthérapie</a></li>
                <li class="inbl"><a href="/nosprestations/conseils">Conseils</a></li>
            </ul>
        </li>
        <li class="inbl"><a href="/agences">Nos agences</a></li>
        <li class="inbl"><a href="/contact">Contact</a></li>
        <li class="active inbl"><a href="">Documents</a>
            <ul class="nav-sub design4">
                <li class="inbl"><a href="/decret">Décret PPC</a></li>
                <li class="inbl"><a href="/rgpd">Document RGPD</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>

</body>
</html>