<!doctype html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Airsanté</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/knacss.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/styles.css" media="all">
    <link rel="icon" type="image/png" href="images/favicon-air-sante.png"/>

    <script src="js/jquery-min.js"></script>
    <script src="js/jquery.sequence-min.js"></script>

    <script type="text/javascript" src="js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="js/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="js/jquery.flot.pie.min.js"></script>

    <script src="js/ckeditor/ckeditor.js"></script>
</head>

<body class="design4">
<div id="bandeau-noir-haut" class="bandeau-noir">
    <div th:replace="fragments/navbar :: navbar">
    </div>
</div>

<div class="container">

    <h1>AirMes V1 - Juin 2019 - Déploiement continu</h1>

    <h2>Formulaire d'authentification SPRING</h2>
    <div class="login" th:replace="fragments/login :: login"></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">Coucou l'admin !
        <br>
        <br>
        <button>Générer un hash</button>
    </div>
    <div id="listeLiens" sec:authorize="isAuthenticated()">
        <p>Bienvenue dans mon projet front de Spring Boot !</p>
        <p>
            <a th:href="@{/adresse/listAdresses}">Afficher la liste de toutes les adresses</a>
            <a href="/adresse/listAdresses">Afficher la liste de toutes les adresses</a><br>
        </p>
        <a th:href="@{/adresse/25}">Afficher l'adresse 25</a>
        <p>
            <a th:href="@{/patient/listPatients}">Afficher la liste des patients</a>
        </p>
        <p>
            <a th:href="@{/patient/191}">Afficher le patient 191</a>
        </p>
        <p>
            <a th:href="@{/patient/listCustomPatients}">Afficher la liste des customPatients</a>
        </p>

        <p>
            <a th:href="@{/admin/indexAdmin}">Espace réservé aux admins</a>
        </p>

    </div>
</div>


<div class="footer" th:replace="fragments/footer :: footer">
</div>
</body>


</html>